<div class="appBottomMenu shadow-lg px-0">
  <a
    href="/"
    native
    id="bottommenu-member"
    class="item"
  >
    <div class="col">
      <i class="bi bi-house"></i>
      <strong class="">Beranda</strong>
    </div>
  </a>
  <a
    href="/about"
    id="bottommenu-member"
    class="item"
    :class="Alpine.store('core').module == 'about' ? 'active' : ''"
  >
    <div class="col">
      <i class="bi bi-newspaper"></i>
      <strong class="">About</strong>
    </div>
  </a>
  <a
    href="/blog"
    id="bottommenu-member"
    class="item"
    :class="Alpine.store('core').module == 'blog' ? 'active' : ''"
  >
    <div class="col">
      <i class="bi bi-person-vcard"></i>
      <strong class="">Blog</strong>
    </div>
  </a>
  <a
    href="/iuran"
    id="bottommenu-member"
    class="item"
    :class="Alpine.store('core').module == 'iuran' ? 'active' : ''"
  >
    <div class="col">
      <i class="bi bi-cash-coin"></i>
      <strong class="">Iuran</strong>
    </div>
  </a>
  <a
    href="/profile"
    id="bottommenu-member"
    class="item"
    :class="Alpine.store('core').module == 'profile' ? 'active' : ''"
  >
    <div class="col">
      <i class="bi bi-person-circle"></i>
      <strong class="">Akun</strong>
    </div>
  </a>
</div>
