<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, viewport-fit=cover" />
    <meta name="mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <meta name="theme-color" content="#05b2c5">

    <title>Belajar Bun & Hono</title>
    <link rel="stylesheet" href="/static/css/style.css" />
    <link rel="stylesheet" href="/static/css/custom.css" />
    
    <script src="//cdn.jsdelivr.net/npm/pinecone-router@7.3.0/dist/router.min.js"></script>
    <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>
    <script src="/static/js/heroic.js"></script>
    <script src="/static/js/components.js"></script>
    <script src="/static/js/main.js"></script>
  </head>
  <body>
    <div id="app" x-data>
      <template x-route="/" x-template="/template/home.html"></template>
      <template x-route="/about" x-template="/template/about.html"></template>
      <template x-route="notfound" x-template="/template/404.html"></template>
    </div>
    
  </body>
</html>
